.dummy {
	background-color:#FF0000;
	width: 20%;
	height: 20%;
	padding: 10px;
	float:left;
	margin:10px;
}

@media screen and (min-width: 400px) and (max-width: 900px) {
	.dummy {
		background-color:#00FF00;
	}
}

@media screen and (max-width: 300px) {
	.dummy2 {
		display:none;
	}
}


@media all and (orientation:portrait) {
	body {
		background-color:#333333
	}
}

@media all and (orientation:landscape) {
	body {
		background-color:#AAAAAA
	}
}